<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
--> 

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="nenbank-styles.html">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  
<dom-module id="nenbank-remember">
  <template>
    <style include="nenbank-styles">
      :host {
        display: block;

        padding: 10px;
      }


    </style>


<!-- FORGOT PASSWORD FORM -->
<div class="text-center" style="padding:50px 0">
  <div class="logo">forgot password</div>
  <!-- Main Form -->
  <div class="login-form-1">
    <form id="forgot-password-form" class="text-left">
      <div class="etc-login-form">
        <p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
      </div>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <label for="fp_email" class="sr-only">Email address</label>
            <input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
          </div>
        </div>
        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="etc-login-form">
        <p>already have an account? <a href="#">login here</a></p>
        <p>new user? <a href="#">create new account</a></p>
      </div>
    </form>
  </div>
  <!-- end:Main Form -->
</div>




  </template>



  <script>

    class NenbankRemember extends Polymer.Element {
      static get is() { return 'nenbank-remember'; }
    }

    window.customElements.define(NenbankRemember.is, NenbankRemember);
  </script>



</dom-module>