<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="nenbank-error404">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    Algo has hecho mal!! Lo que buscas no existe. <a href="[[rootPath]]">Volver a la página inicial</a>
  </template>

  <script>
    class NenbankError404 extends Polymer.Element {
      static get is() { return 'nenbank-error404'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
    }

    window.customElements.define(NenbankError404.is, NenbankError404);
  </script>
</dom-module>
