<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="nenbank-styles.html">

<dom-module id="nenbank-searchmusic">
	<template> 
		<link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

		<style include="nenbank-styles">
		:host {
			display: block; 

			padding: 10px;
		}
	</style>

	<div class="cardLogin">
		<form class="form-signin">
			<h2 class="form-signin-heading">Introduce el nombre del grupo</h2>
			<input type="text" id="inputGroup" class="form-control" placeholder="Nombre del grupo musical" required autofocus value="{{group::input}}">
			<button class="btn btn-lg btn-primary btn-block" type="button" on-click="search">Buscar</button>
			<div>
			    <div id="artistName"><h2>{{artistName}}</h2></div>
			    <div id="artistImage"><img src="{{artistImage}}" /></div>
			    <div id="artistBio">{{artistBio}}</div>
			</div>
		</form>
	</div>

	<iron-ajax
	id="doSearch"
	url="http://ws.audioscrobbler.com/2.0/?method=artist.getinfo&artist={{group}}&api_key=04e301d9e5c3688b1f1606607a46b413&format=json"
	content-type="application/json"
	method="GET"
	handle-as="json"
	on-response="manageAJAXResponse"
	on-error="showError"
	>
</template>



<script>

	class NenbankSearchMusic extends Polymer.Element {
		static get is() { return 'nenbank-searchmusic'; }
		static get properties() {
			return {
				group: {
					type: String
				},
				artistName: {
					type: String
				},
				artistImage: {
					type: String
				},
				artistBio: {
					type: String
				},
			};
		}

		search(){
			console.log("Funcion SEARCH");
			this.$.doSearch.generateRequest();
			console.log("Petición enviada");
		}

		manageAJAXResponse(data){
			console.log(data.detail.response);
			var res = data.detail.response
			this.artistName = res.artist.name;
			this.artistImage = res.artist.image[2]['#text'];
			this.artistBio = res.artist.bio.content; 

			console.log(this.artistName);
		}	

		showError(error){
			console.log("Recibido un error en la respuesta");
			console.log(error);
		}

	}

	window.customElements.define(NenbankSearchMusic.is, NenbankSearchMusic);
</script>



</dom-module>