<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="nenbank-styles.html">

<dom-module id="nenbank-home">
  <template>
    <style include="nenbank-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Home</h1>
      <p>Texto para vender lo bonitos que somos</p>
    </div>
  </template>

  <script>
    class NenbankHome extends Polymer.Element {
      static get is() { return 'nenbank-home'; }
    }

    window.customElements.define(NenbankHome.is, NenbankHome);
  </script>
</dom-module>
