<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/cells-lists/cells-lists.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/cells-movements-list-item/cells-movements-list-item.html">
<link rel="import" href="nenbank-styles.html">

<dom-module id="nenbank-globalposition">
	<template>
		<style include="nenbank-styles">
		:host {
			display: block;

			padding: 10px;
		}
		.paper-item-link {
			color: inherit;
			text-decoration: none;
		}
	</style>

	<div class="card">
		<h1>Mi posición</h1>
		<h2>{{first_name}} {{last_name}}</h2>
		<h3>Cuentas asociadas:</h3>
		<template is="dom-repeat" items="{{accounts}}">
			<a class="paper-item-link" on-click="movements">
				<paper-item>{{item}}</paper-item>
			</a>
		</template>

		<h3 id="balance">Saldo: {{balance}}</h3>

		<template is="dom-repeat" items="{{movements}}">
			<cells-movements-list-item 
				date="{{item.date}}" 
				date-format="DD/MM/YYYY" 
				label="{{item.category}}" 
				category="9" 	      		
				parsed-amount="{{_displayParsedAmount(item.amount)}}"
				show-current-year>
			</cells-movements-list-item>
	</template>
</div>

<iron-ajax
	auto=""
	id="doLoadData"
	url="http://localhost:3000/nenbank/v1/user/{{iduser}}"
	headers={{headers}}
	handle-as="json"
	on-response="manageAJAXResponseData"
	on-error="showError"
>

<iron-ajax
	id="getMovements"
	url="http://localhost:3000/nenbank/v1/account/iban/{{iban}}"
	headers={{headers}}
	content-type="application/json"
	method="GET"
	handle-as="json"
	on-response="manageAJAXResponseMovements"
	on-error="showError"
>

</template>

<script>
	class NenbankGlobalPosition extends Polymer.Element {
		static get is() { return 'nenbank-globalposition'; }
		static get properties() {
			return {
				iduser: {
					type: String,
					computed: '_getIdUser()'
				},
				token: {
					type: String
				},
				first_name: {
					type: String
				},
				last_name: {
					type: String
				},
				balance: {
					type: Number,
					default: 0
				},
				accounts: {
					type: Array
				},
				movements: {
					type: Array
				},
				headers: {
					type: Object,
					computed: '_getHeaders()'
				}
			};
		}
		_displayParsedAmount(amount) {
			return {
				"value": amount,
				"currency" : "EUR"
				}
		}

		_getHeaders() {
			return {'x-access-token': window.sessionStorage.getItem('x-access-token')}
		}
		_getIdUser() {			
			var user = JSON.parse(window.sessionStorage.getItem('userData'));
			return user.id
		}

		loadData(){
			console.log("Funcion LOADDATA");

			this.$.doLoadData.generateRequest();

			console.log(this.$.doLoadData.body);
			console.log("Petición enviada");
		}

		manageAJAXResponseData(data){
			console.log("Recibida respuesta del servidor");
			var user = data.detail.response;
			this.first_name = user.first_name;
			this.last_name = user.last_name;
			this.accounts = user.accounts;
		}

		movements(data){
			console.log("Funcion MOVEMENTS");
			this.iban = data.path[0].innerText;
			this.$.getMovements.generateRequest();
		}

		manageAJAXResponseMovements(data){
			console.log("Recibida respuesta del servidor")
			this.balance = new Intl.NumberFormat('es-ES', { style: 'currency', currency: 'EUR' }).format(data.detail.response[0].balance)
			this.movements = data.detail.response[0].movements;
		}

		showError(error){
			console.log("Recibido un error en la respuesta");
			console.log(error);
		}
	}

	window.customElements.define(NenbankGlobalPosition.is, NenbankGlobalPosition);
</script>
</dom-module>