<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="nenbank-styles.html">

<dom-module id="nenbank-login">
	<template> 
		<link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

		<style include="nenbank-styles">
		:host {
			display: block; 

			padding: 10px;
		}
	</style>

	<div class="cardLogin">
		<form class="form-signin">
			<h2 class="form-signin-heading">Introduce tus datos de acceso</h2>
			<label for="inputEmail" class="sr-only">Email</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Tu usuario (email)" required autofocus value="{{email::input}}">
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Tu clave de acceso" required value="{{password::input}}">
			<div>
				<p>¿Nuevo usuario? <a name="nenbank-registry" href="/registry">Crea una cuenta</a></p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="button" on-click="login">Entrar</button>
		</form>
	</div>

	<iron-ajax
	id="doLogin"
	url="http://localhost:3000/nenbank/v1/login"
	content-type="application/json"
	method="POST"
	handle-as="json"
	on-response="manageAJAXResponse"
	on-error="showError"
	>
</template>



<script>

	class NenbankLogin extends Polymer.Element {
		static get is() { return 'nenbank-login'; }
		static get properties() {
			return {
				email: {
					type: String
				},
				password: {
					type: String
				},
				auth: {
					type: Boolean,
					value: false
				},
				token: {
					type: String
				}
			};
		}

		login(){
			console.log("Funcion LOGIN");

			var loginData = {
				"email": this.email,
				"password": this.password
			};
			this.$.doLogin.body = JSON.stringify(loginData);
			this.$.doLogin.generateRequest();

			console.log(this.$.doLogin.body);
			console.log("Petición enviada");
		}

		manageAJAXResponse(data){
			console.log("Recibida respuesta del servidor");
			var user = JSON.parse(data.detail.response.user);

			var userData = {
				"id": user._id.$oid,
				"accounts": user.accounts
			}

			window.sessionStorage.setItem('x-access-token', data.detail.response.token);
			window.sessionStorage.setItem('userData', JSON.stringify(userData));
			console.log("LOGADO!!");
			window.location="/globalposition";    
		}

		showError(error){
			console.log("Recibido un error en la respuesta");
			console.log(error);
		}

	}

	window.customElements.define(NenbankLogin.is, NenbankLogin);
</script>



</dom-module>