<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="nenbank-logout">


<script>
	class NenbankLogout extends Polymer.Element {
		static get is() { 
			window.sessionStorage.removeItem('x-access-token');
			window.sessionStorage.removeItem('userData');
			console.log("DESLOGADO!!");			
			window.location="/home";  
			return 'nenbank-logout'; 
		}
	}

	window.customElements.define(NenbankLogout.is, NenbankLogout);
</script>



</dom-module>