<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="nenbank-styles.html">

<dom-module id="nenbank-add-movement">
  <template>
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style include="nenbank-styles">
    :host {
      display: block;

      padding: 10px;
    }
  </style>

  <div class="cardLogin">
    <form class="form-signin">
      <h2 class="form-signin-heading">Datos del movimiento</h2>
      <label for="inputAmount" class="sr-only">Cantidad</label>
      <input type="text" id="inputAmount" class="form-control" placeholder="Cantidad del movimiento en euros" required autofocus value="{{amount::input}}">
      <br/>
      <label for="inputCategory" class="sr-only">Categoria</label>
      <input type="text" id="inputCategory" class="form-control" placeholder="Categoriza el movimiento"  value="{{category::input}}">
      <br/>
      <select class="form-control" value="{{typeMovement::change}}">
        <option value="">Selecciona el tipo de movimiento</option>
        <option value=-1>Gasto</option>
        <option value=1>Ingreso</option>
      </select>
      <br/>
      <select class="form-control" style="width:100%;" value="{{account::change}}">
        <option value="">Selecciona una cuenta a la que asociar el movimiento</option>
        <template is="dom-repeat" items="{{userAccounts}}" as="account" >
          <option value$="{{account}}">{{account}}</option>
        </template>
      </select>
    <br/>

    <button class="btn btn-lg btn-primary btn-block" type="button" on-click="addMovement">Añadir movimiento</button>


  </form>
</div>


<iron-ajax
  id="doAdd"
  url="http://localhost:3000/nenbank/v1/account/iban/{{account}}/movement"
  content-type="application/json"
  method="POST"
  handle-as="json"
  headers={{headers}}
  on-response="manageAJAXResponse"
  on-error="showError"
>

</template>



<script>
  class NenbankAddMovement extends Polymer.Element {
    static get is() {return 'nenbank-add-movement'; }
    static get properties() {
      return {
        userAccounts: {
          type: Array,
          computed: '_getAccounts()'
        },   
        headers: {
          type: Object,
          computed: '_getHeaders()'
        },   
        account: {
          type: String
        }
      };
    }

    _getAccounts() {
      var user = JSON.parse(window.sessionStorage.getItem('userData'));
      var accounts = user.accounts
      console.log(accounts);
      return accounts;
    }

    _getHeaders() {
      return {'x-access-token': window.sessionStorage.getItem('x-access-token')}
    }
    addMovement(){
      console.log("Funcion ADDMOVEMENT");
      var movementData = {
        "amount": this.amount*this.typeMovement,
        "category": this.category
      };
      this.$.doAdd.body = JSON.stringify(movementData);
      this.$.doAdd.generateRequest();

      console.log("Petición enviada");
    }


    manageAJAXResponse(data){
      console.log("Recibida respuesta del servidor");
      window.location="/globalposition";    
    }
  }


  window.customElements.define(NenbankAddMovement.is, NenbankAddMovement);
</script>
</dom-module>