
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="nenbank-icons.html">
<script src="../jwt-decode.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="lazy-import" href="nenbank-home.html">
<link rel="lazy-import" href="nenbank-globalposition.html">
<link rel="lazy-import" href="nenbank-login.html">
<link rel="lazy-import" href="nenbank-logout.html">
<link rel="lazy-import" href="nenbank-registry.html">
<link rel="lazy-import" href="nenbank-remember.html">
<link rel="lazy-import" href="nenbank-userdetails.html">
<link rel="lazy-import" href="nenbank-add-movement.html">
<link rel="lazy-import" href="nenbank-music.html">
<link rel="lazy-import" href="nenbank-error404.html">
<link rel="lazy-import" href="nenbank-error401.html">

<dom-module id="nenbank-app">
  <template>
    <style>
    :host {
      --app-primary-color: #4285f4;
      --app-secondary-color: black;

      display: block;
    }

    app-drawer-layout:not([narrow]) [drawer-toggle] {
      display: none;
    }

    app-header {
      color: #fff;
      background-color: var(--app-primary-color);
    }

    app-header paper-icon-button {
      --paper-icon-button-ink-color: white;
    }

    .drawer-list {
      margin: 0 20px;
    }

    .drawer-list a {
      display: block;
      padding: 0 16px;
      text-decoration: none;
      color: var(--app-secondary-color);
      line-height: 40px;
    }

    .drawer-list a.iron-selected {
      color: black;
      font-weight: bold;
    }

    .access {
      color: white;  
      font-size: 14px;  
    }

  </style>

  <app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
  </app-route>

  <app-drawer-layout fullbleed narrow="{{narrow}}">
    <!-- Drawer content -->
    <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
      <app-toolbar>:::: NeN BanK ::::</app-toolbar>
      <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
        <a name="home" href="[[rootPath]]home">Inicio</a>
        <a name="globalposition" href="[[rootPath]]globalposition">Posición Global</a>
        <a name="add-movement" href="[[rootPath]]add-movement">Alta de movimientos</a>
        <a name="userdetails" href="[[rootPath]]userdetails">Perfil del usuario</a>
        <a name="searchmusic" href="[[rootPath]]searchmusic">Buscardor musical</a>
      </iron-selector>
    </app-drawer>

    <!-- Main content -->
    <app-header-layout has-scrolling-region>

      <app-header slot="header" condenses reveals effects="waterfall">
        <app-toolbar>
          <paper-icon-button icon="nenbank-icons:menu" drawer-toggle></paper-icon-button>
          <div main-title>:::: Tu Banco de confianza ::::</div>
          <a class="access" name="nenbank-login" href="login">Login</a>
          &nbsp;&nbsp;||&nbsp;&nbsp; 
          <a class="access" name="nenbank-logout" href="logout">Logout</a>
        </app-toolbar>
      </app-header>

      <iron-pages
        selected="[[page]]"
        attr-for-selected="name"
        fallback-selection="error404"
        role="main">
        <nenbank-home name="home"></nenbank-home>
        <nenbank-globalposition name="globalposition"></nenbank-globalposition>
        <nenbank-login name="login"></nenbank-login>
        <nenbank-logout name="logout"></nenbank-logout>
        <nenbank-registry name="registry"></nenbank-registry>
        <nenbank-remember name="remember"></nenbank-remember>
        <nenbank-userdetails name="userdetails"></nenbank-userdetails>
        <nenbank-add-movement name="add-movement"></nenbank-add-movement>
        <nenbank-searchmusic name="searchmusic"></nenbank-searchmusic>
        <nenbank-error404 name="error404"></nenbank-error404>
        <nenbank-error401 name="error401"></nenbank-error401>
      </iron-pages>
    </app-header-layout>
  </app-drawer-layout>
</template>


<script>
    Polymer.setPassiveTouchGestures(true);

    class NenbankApp extends Polymer.Element {
      static get is() { return 'nenbank-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          rootPath: String,
        };
      }

      static get observers() {
        return [
        '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
      	try{
      		if (page!="login" && page!="logout" && page!="registry" && page!="home" && page!="") {
      			var jwt = jwt_decode(window.sessionStorage.getItem('x-access-token'));

            var current_time = new Date().getTime() / 1000;
            if (current_time > jwt.exp) {
              window.sessionStorage.removeItem('x-access-token');
              window.sessionStorage.removeItem('userData');
              this.page = 'error401';
            } else {
              this.page = page || 'home';
            }
      		} else {
            this.page = page || 'home';
          }   		
        } catch(err) {
          this.page = 'error401';
        }
        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('nenbank-' + page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'error404';
      }
    }

    window.customElements.define(NenbankApp.is, NenbankApp);
  </script>


</dom-module>
