<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="nenbank-styles.html">

<dom-module id="nenbank-userdetails">
  <template> 
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <style include="nenbank-styles">
    :host {
      display: block; 

      padding: 10px;
    }
  </style>

  <div class="cardLogin">
    <form class="form-signin">
      <h2 class="form-signin-heading">Perfil del usuario</h2>
      <label for="inputFirstName" class="sr-only">Nombre</label>
      <input type="firstName" id="inputFirstName" class="form-control" placeholder="Tu nombre" required autofocus value="{{firstName::input}}">
      <label for="inputLastName" class="sr-only">Apellido</label>
      <input type="lastName" id="inputLastname" class="form-control" placeholder="Tu apellido" required autofocus value="{{lastName::input}}">
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Tu email" required value="{{email::input}}">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Tu clave de acceso"  value="{{password::input}}">
      <button class="btn btn-lg btn-primary btn-block" type="button" on-click="updateProfile">Actualizar datos</button>
    </form>
  </div>

  <iron-ajax
  auto=""
  id="doLoadData"
  url="http://localhost:3000/nenbank/v1/user/{{iduser}}"
  headers={{headers}}
  handle-as="json"
  on-response="manageAJAXResponseData"
  on-error="showError"
  >

  <iron-ajax
  id="doUpdate"
  url="http://localhost:3000/nenbank/v1/user/{{iduser}}"
  content-type="application/json"
  headers={{headers}}
  method="PUT"
  handle-as="json"
  on-response="manageAJAXResponseUpdate"
  on-error="showError"
  >
</template>



<script>

  class NenbankUserDetails extends Polymer.Element {
    static get is() { 
      return 'nenbank-userdetails'; 
    }

    static get properties() {
      return {
        iduser: {
          type: String,
          computed: '_getIdUser()'
        },
        token: {
          type: String
        },
        first_name: {
          type: String
        },
        last_name: {
          type: String
        },
        balance: {
          type: Number,
          default: 0
        },
        accounts: {
          type: Array
        },
        movements: {
          type: Array
        },
        headers: {
          type: Object,
          computed: '_getHeaders()'
        }
      };
    }

    _getHeaders() {
      return {'x-access-token': window.sessionStorage.getItem('x-access-token')}
    }
    _getIdUser() {      
      var user = JSON.parse(window.sessionStorage.getItem('userData'));
      return user.id
    }

    updateProfile(){
      console.log("Funcion UPDATE PROFILE");

      var profileData = {}

      if (this.firstName) {
        profileData["first_name"] = this.firstName
      }
      if (this.lastName) {
        profileData["last_name"] = this.lastName
      }
      if (this.email) {
        profileData["email"] = this.email
      }
      if (this.password) {
        profileData["password"] = this.password
      }

      this.$.doUpdate.body = JSON.stringify(profileData);
      this.$.doUpdate.generateRequest();

      console.log("Petición enviada");
    }

    manageAJAXResponseUpdate(data){
      console.log("Recibida respuesta del servidor");
      location.reload();  
    }

    manageAJAXResponseData(data){
      console.log("Recibida respuesta del servidor");
      var user = data.detail.response;
      this.firstName = user.first_name;
      this.lastName = user.last_name;
      this.email = user.email;
    }

    showError(error){
      console.log("Recibido un error en la respuesta");
      console.log(error);
    }

  }

  window.customElements.define(NenbankUserDetails.is, NenbankUserDetails);
</script>



</dom-module>