<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="nenbank-styles.html">

<dom-module id="nenbank-registry">
  <template> 
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <style include="nenbank-styles">
    :host {
      display: block; 

      padding: 10px;
    }
  </style>

  <div class="cardLogin">
    <form class="form-signin">
      <h2 class="form-signin-heading">Registro de nuevo cliente</h2>
      <label for="inputFirstName" class="sr-only">Nombre</label>
      <input type="firstName" id="inputFirstName" class="form-control" placeholder="Tu nombre" required autofocus value="{{firstName::input}}">
      <label for="inputLastName" class="sr-only">Apellido</label>
      <input type="lastName" id="inputLastname" class="form-control" placeholder="Tu apellido" required autofocus value="{{lastName::input}}">
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Tu email" required value="{{email::input}}">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Tu clave de acceso" required value="{{password::input}}">
      <button class="btn btn-lg btn-primary btn-block" type="button" on-click="registry">Registrarse</button>
    </form>
  </div>

  <iron-ajax
  id="doRegistry"
  url="http://localhost:3000/nenbank/v1/registry"
  content-type="application/json"
  method="POST"
  handle-as="json"
  on-response="manageAJAXResponse"
  on-error="showError"
  >
</template>



<script>

  class NenbankRegistry extends Polymer.Element {
    static get is() { return 'nenbank-registry'; }
    static get properties() {
      return {
        firstName: {
          type: String
        },
        lastName: {
          type: String
        },
        email: {
          type: String
        },
        password: {
          type: String
        },
        auth: {
          type: Boolean,
          value: false
        },
        token: {
          type: String
        }
      };
    }

    registry(){
      console.log("Funcion REGISTRY");

      var registryData = {
        "first_name": this.firstName,
        "last_name": this.lastName,
        "email": this.email,
        "password": this.password
      };
      this.$.doRegistry.body = JSON.stringify(registryData);
      this.$.doRegistry.generateRequest();

      console.log("Petición enviada");
    }

    manageAJAXResponse(data){
      console.log("Recibida respuesta del servidor");
      
      var user = data.detail.response.user;      
      var userData = {
        "id": user._id.$oid,
        "accounts": user.accounts
      }

      window.sessionStorage.setItem('x-access-token', data.detail.response.token);
      window.sessionStorage.setItem('userData', JSON.stringify(userData));

      console.log("REGISTRO CORRECTO!");
      window.location="/globalposition";    
      }

      showError(error){
        console.log("Recibido un error en la respuesta");
        console.log(error);
      }

    }

    window.customElements.define(NenbankRegistry.is, NenbankRegistry);
  </script>



</dom-module>